<div class="login-container">
  <mat-card class="login">
    <mat-card-header>
      <mat-card-title>Passwort vergessen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field class="login" appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="max@example.com" type="email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="authService.ForgotPassword(email.value)">Passwort zurücksetzen</button>
      <p>
        <mat-label>Du erinnerst dich doch wieder?
          <a routerLink="/sign-in"> Zurück zum Login</a>
        </mat-label>
      </p>
    </mat-card-content>
  </mat-card>
</div>


